<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.ssic.catering.base.mapper.SensitiveWarningReportExMapper" >
 	<select id="queryCountSensitive" resultType="com.ssic.catering.base.dto.CountSensitiveDto">
 		select COUNT(s.comment_id) as sensitiveTotals,c.cafetorium_id as cafetoriumId,s.sensitive_id as sensitiveId,tc.sensitive_name as sensitiveName
 		 from t_ctr_comment_sensitive s , t_ctr_sensitive tc , t_ctr_comment c where  
			s.comment_id = c.id and c.cafetorium_id = #{cafetoriumId} and DATE_FORMAT(c.create_time,'%Y%m%d') = DATE_FORMAT(now(),'%Y%m%d')
			and s.sensitive_id = tc.id and tc.warning = '1' GROUP BY s.sensitive_id;
 	</select>
 	
 	<select id="queryWarningNorm" resultType="com.ssic.catering.base.dto.SensitiveValveCountDto">
 		SELECT t1.valve_count as valveCount,t1.valve_percent as valvePercent,t2.id as id ,t2.sensitive_name as sensitiveName,t1.`level` as level 
 		FROM t_ctr_sensitive_valve_conf t1 , t_ctr_sensitive t2 WHERE t1.id = t2.valve_id  and t2.id = #{sensitiveId} and t1.stat = '1';
 	</select>
 	
 	<select id="totalWarningReportMessages" resultType="java.lang.Integer">
 		SELECT COUNT(1) FROM t_ctr_sensitive_warning_report t where t.cafetorium_id = #{cafetoriumId} and DATE_FORMAT(t.create_time,'%Y%m%d') = DATE_FORMAT(now(),'%Y%m%d');
 	</select>
 	
 	<select id="querySwarningReport" resultType="com.ssic.catering.base.dto.SensitiveWarningReportDto">
		SELECT 
		  id as id,
		  cafetorium_id as cafetoriumId,
		  sensitive_id as sensitiveId,
		  sensitive_name as sensitiveName,
		  count as count,
		  create_time as createTime,
		  warning as warning,
		  message as message,
		  warningproportion as warningproportion,
		  address_id as addressId,
		  stat as stat,
		  address_name AS addressName
	  FROM t_ctr_sensitive_warning_report t WHERE t.address_id in
	     	 <foreach close=")" collection="dtoList" item="addressDto" open="(" separator=",">
                    #{addressDto.id}
         	 </foreach> 
          ORDER BY t.create_time desc
 	</select>
 	
 	<select id="querySwarningReportCid" resultType="com.ssic.catering.base.dto.SensitiveWarningReportDto">
 		SELECT 
		  id as id,
		  cafetorium_id as cafetoriumId,
		  sensitive_id as sensitiveId,
		  sensitive_name as sensitiveName,
		  count as count,
		  create_time as createTime,
		  warning as warning,
		  message as message,
		  warningproportion as warningproportion,
		  address_id as addressId,
		  stat as stat,
		  address_name AS addressName
	    FROM  t_ctr_sensitive_warning_report t
			WHERE
				t.address_id = #{addressId}
			AND t.cafetorium_id = (
				SELECT tc.id FROM t_ctr_cafetorium tc
					WHERE tc.cafe_code = (
							SELECT tu.cafe_code
							FROM t_ctr_address_user tu
							WHERE tu.user_id = #{userId}
						)
			)
          ORDER BY t.create_time desc
 	</select>
 	
</mapper>