<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.ssic.catering.lbs.mapper.TransportTaskExMapper">
	<select id="findByTaskAdminUserId" resultType="com.ssic.catering.lbs.dto.TransportTaskDto">
		SELECT project_id
		as projectId FROM t_ctr_transport_task t where
		t.id = #{taskId}
	</select>

	<update id="updateTaskState">
		update t_ctr_transport_task t set t.state = #{state},t.last_update_time  =  now()
		where t.id = #{taskId};
	</update>

	<select id="findTaskIdState" resultType="String">
		SELECT id as id FROM
		ims_db_test.t_ctr_transport_task t where t.project_id =
		'1' and t.state
		= 2;
	</select>

	<select id="findByTaskId" resultType="com.ssic.catering.lbs.documents.TransportTrailDto">		
		select t2.id as id ,t3.address as
		destination,t1.name as
		driverName,t3.longitude as
		endLongitude,t3.latitude as endLatitude,
		t2.task_name as taskName,
		t2.merchandise as merchandise,
		t1.phone as telephone,
		t2.supplier_name as supplierName,
		t2.driver_id as driverId,
		t2.project_id as projectId,
		t2.id as transportTaskId,
		t4.address as departure,
		t4.latitude as startLatitude,
		t4.longitude as startLongitude
		from t_ctr_transport_task t2 ,t_ctr_transport_driver
		t1,t_ctr_transport_dest t3,t_ctr_supplier t4
		where t2.driver_id = t1.id and
		t2.transport_dest_id = t3.id and
    	t2.admin_supplier_user_id = t4.id and
		t2.project_id = #{projectId} and
		t2.state = 2;
	</select>

	<select id="findByTaskIdAndComplete" resultType="com.ssic.catering.lbs.documents.TransportTrailDto">
		select t2.id as id ,t3.address as
		destination,t1.name as
		driverName,t3.longitude as
		endLongitude,t3.latitude as endLatitude,
		t2.task_name as taskName,
		t2.merchandise as merchandise,
		t1.phone as telephone,
		t2.supplier_name as supplierName,
		t2.driver_id as driverId,
		t2.project_id as projectId,
		t2.id as transportTaskId,
		t4.address as departure,
		t4.latitude as startLatitude,
		t4.longitude as startLongitude,
		t2.state as state,
		t2.last_update_time as endTime
		from t_ctr_transport_task t2 ,t_ctr_transport_driver
		t1,t_ctr_transport_dest t3,t_ctr_supplier t4
		where t2.driver_id = t1.id and
		t2.transport_dest_id = t3.id and
		t2.admin_supplier_user_id = t4.id and
		t2.project_id = #{projectId} and
		(t2.state = 2 or t2.state = 3);
	</select>

	<select id="selectTransportTaskAdminDtosByExample" resultType="com.ssic.catering.lbs.dto.TransportTaskAdminDto">
		<!-- WARNING - @mbggenerated This element is automatically generated by 
			MyBatis Generator, do not modify. This element was generated on Wed Nov 25 
			18:12:32 CST 2015. -->
		select
		<if test="example.distinct">
			distinct
		</if>
		t1.id as id,
		t1.project_id as projectId,
		t1.admin_user_id as	adminUserId,
		t1.admin_supplier_user_id as adminSupplierUserId,
		t1.transport_dest_id as transportDestId,
		t1.driver_id as driverId,
		t1.task_name as taskName,
		t1.depart_place as departPlace,
		t1.merchandise as merchandise,
		t1.state as state,
		t1.create_time as createTime,
		t1.last_update_time as	lastUpdateTime,
		t1.stat as stat,

		t2.proj_name as projectName,
		t3.name as adminUserName,
		t4.supplier_name as adminSupplierUserName,
		t5.address as destPlace,
		t6.name as transportDriverName,
		t4.address as supplierAddress

		from
		t_ctr_transport_task t1

		left join
		t_ims_project t2
		on
		t1.project_id = t2.id
		left join
		t_ctr_admin_users t3
		on
		t1.admin_user_id = t3.id
		left join
		t_ctr_supplier t4
		on
		t1.admin_supplier_user_id = t4.id
		left join
		t_ctr_transport_dest t5
		on
		t1.transport_dest_id = t5.id
		left join
		t_ctr_transport_driver t6
		on
		t1.driver_id = t6.id

		<if test="example!= null">
			<where>
				<foreach collection="example.oredCriteria" item="criteria"
					separator="or">
					<if test="criteria.valid">
						<trim prefix="(" suffix=")" prefixOverrides="and">
							<foreach collection="criteria.criteria" item="criterion">
								<choose>
									<when test="criterion.noValue">
										and t1.${criterion.condition}
									</when>
									<when test="criterion.singleValue">
										and t1.${criterion.condition}
										#{criterion.value}
									</when>
									<when test="criterion.betweenValue">
										and t1.${criterion.condition}
										#{criterion.value} and
										#{criterion.secondValue}
									</when>
									<when test="criterion.listValue">
										and t1.${criterion.condition}
										<foreach collection="criterion.value" item="listItem"
											open="(" close=")" separator=",">
											#{listItem}
										</foreach>
									</when>
								</choose>
							</foreach>
						</trim>
					</if>
				</foreach>
			</where>
		</if>
		<if test="example.orderByClause != null">
			order by t1.${example.orderByClause}
		</if>
	</select>

	<select id="countTransportTaskAdminDtosByExample" resultType="java.lang.Long">
		<!-- WARNING - @mbggenerated This element is automatically generated by 
			MyBatis Generator, do not modify. This element was generated on Wed Nov 25 
			18:12:32 CST 2015. -->
		select

		count(t1.id)

		from
		t_ctr_transport_task t1

		left join
		t_ims_project t2
		on
		t1.project_id = t2.id
		left join
		t_ctr_admin_users t3
		on
		t1.admin_user_id = t3.id
		left join
		t_ctr_supplier t4
		on
		t1.admin_supplier_user_id = t4.id
		left join
		t_ctr_transport_dest t5
		on
		t1.transport_dest_id = t5.id
		left join
		t_ctr_transport_driver t6
		on
		t1.driver_id = t6.id

		<if test="example != null">
			<where>
				<foreach collection="example.oredCriteria" item="criteria"
					separator="or">
					<if test="criteria.valid">
						<trim prefix="(" suffix=")" prefixOverrides="and">
							<foreach collection="criteria.criteria" item="criterion">
								<choose>
									<when test="criterion.noValue">
										and t1.${criterion.condition}
									</when>
									<when test="criterion.singleValue">
										and t1.${criterion.condition}
										#{criterion.value}
									</when>
									<when test="criterion.betweenValue">
										and t1.${criterion.condition}
										#{criterion.value} and
										#{criterion.secondValue}
									</when>
									<when test="criterion.listValue">
										and t1.${criterion.condition}
										<foreach collection="criterion.value" item="listItem"
											open="(" close=")" separator=",">
											#{listItem}
										</foreach>
									</when>
								</choose>
							</foreach>
						</trim>
					</if>
				</foreach>
			</where>
		</if>
		<if test="example.orderByClause != null">
			order by t1.${example.orderByClause}
		</if>
	</select>
	
	<select id="findAddressByDestId"  resultType="com.ssic.catering.lbs.dto.TransportTaskDto">
			select  t .address as transportAddress,t.longitude as longitude ,t.latitude as latitude  from t_ctr_transport_dest  t   where  t.id = #{destId} and t.stat = 1
	</select>
	
	<select id="findDriverTaskState" resultType="int">
		SELECT COUNT(1) FROM t_ctr_transport_task t where t.driver_id = #{driverId} AND t.state = 2;
	</select>

</mapper>