body{
  text-align: center;
  background: #fff;
}
img{
  display: block;
  width: 100%;
}
a{
  display: block;
  width: 9em;
  color: #fff;
  height: 2.2em;
  margin: 0.2em auto 3em;
  text-decoration: none;
  line-height: 2.2em;
  font-size: 1.5em;
  background: #ff5500;
  border-radius: 0.2em;
}
